#nav{
    background-color: #d50000 !important;
}

.gradient-custom-2 {
    background-image: url("../images/loginside.jpg");
    background-color: darkblue;
    @keyframes identifier {
        
    }
}
    
    @media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
    @media (min-width: 769px) {
        .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
        }
}

#card{
    box-shadow: 10px 10px !important;
}


    